<div id="serversStatusTable" style="overflow: auto; height: 400px; width: 600px">

    <!-- <div *ngFor="let server of servers">
        {{ server | json }}
    </div> -->

    <table class="table pre-scrollable table-hover">

        <!--Table head-->
        <thead class="mdb-color indigo">
            <tr class="text-white">
                <th></th>
                <th>Server</th>
                <th>IP</th>
            </tr>
        </thead>
        <!--Table head-->

        <!--Table body-->

        <tbody *ngFor="let server of servers; let i=index">
            <tr *ngIf='server.status == "critical"' class="table-danger">
                <th scope="row">{{ i+1 }}</th>
                <td>{{ server.name }}</td>
                <td>{{ server.ip}}</td>
            </tr>
            <tr *ngIf='server.status == "ok"' class="table-success">
                <th scope="row">{{ i+1 }}</th>
                <td>{{ server.name }}</td>
                <td>{{ server.ip}}</td>
            </tr>
            <tr *ngIf='server.status == "unknown"' class="table-active">
                <th scope="row">{{ i+1 }}</th>
                <td>{{ server.name }}</td>
                <td>{{ server.ip}}</td>
            </tr>
            <tr *ngIf='server.status == "warning"' class="table-warning">
                <th scope="row">{{ i+1 }}</th>
                <td>{{ server.name }}</td>
                <td>{{ server.ip}}</td>
            </tr>



        </tbody>
     
        <!--Table body-->
    </table>
    <div class="text-center force-to-bottom">
            <a class="btn btn-indigo waves-light float-right" mdbWavesEffect routerLink="/servers" mdbWavesEffect>Details</a>
    </div>
</div>