<div mdbModal #manageServerModal="mdb-modal" class="modal fade" id="manageServerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header indigo white-text">
                <h4 class="title"><i class="fa fa-list"></i>Security Compliancy Checks</h4>
                <small class="title">{{server.name}}</small>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="manageServerModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body mb-0"  style="overflow: auto; height: 600px;">
                <ul class="list-group" *ngFor="let check of checks">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{check.name}}
                        <span class="badge badge-success badge-pill">Ok</span>
                    </li>
                    
                </ul>
            </div>
            
            <!-- <div class="modal-footer">
                <small class="text-muted">Last updated 5 mins ago</small>
              </div> -->
        </div>
        <!--/.Content-->
    </div>
</div>

<div class="btn-group btn-group-sm" role="group" aria-label="">
<button type="button" class="btn btn-white btn-xs" (click)="manageServerModal.show()">
    <i class="fa fa-list mt-1 ml-2 mr-2" style="font-size:20px;color:#3f51b5;"></i>
  </button>
  </div>