<div class="main-wraper" style="height:1100px;">
  <div class="container" style="height:fit-content;">

    <div class="row mt-5 pt-5 float-left" style="width: inherit ;height: fit-content; ">

      <div class="col" style="width: inherit; height: fit-content;">
        <div class="card" style="width: inherit; height: fit-content;">


          <!--Card image-->

          <!--Card content-->
          <div class="card-body" >
            <!--Title-->
            <div class="text-center">
                <a class="btn mdb-color darken-2 waves-light float-right text-white" mdbWavesEffect (click)="checkNow()" >Check Now!</a>
              </div>
            <add-server [checks]="checks"></add-server>
            <h4 class="card-title">Servers</h4>


            <!--Text-->
            <p class="card-text">Manage your servers</p>
            <div style="overflow: auto;" style="width: inherit; height: fit-content;">
              <table class="table table-hover header-fixed" >

                <!--Table head-->
                <thead class="mdb-color mdb-color darken-2">
                  <tr class="text-white">
                    <th> </th>
                    <th>Server</th>
                    <th>IP</th>
                    <th>Status</th>
                    <th>Last Check</th>
                    <th></th>
                  </tr>
                </thead>
                <!--Table head-->

                <!--Table body-->

                <tbody *ngFor="let server of servers; let i=index">
                  <tr *ngIf='server.status == "critical"' class="table-danger">
                    <th scope="row">{{i+1}}</th>
                    <td>{{server.name}}</td>
                    <td>{{server.ip}}</td>
                    <th>{{server.status}}</th>
                    <th>{{server.time | date:"MMM dd, yyyy HH:mm"}}</th>
                    <td>
                      <div class="btn-group btn-group-sm" role="group" aria-label="">
                        <!-- <button type="button" class="btn btn-white btn-xs">
                          <i class="fa fa-info-circle mt-1 ml-2 mr-2" style="font-size:20px;color:#3f51b5;"></i>
                        </button> -->
                        <server-checks [server]="server" [checks]="checks"></server-checks>
                        <!-- <button type="button" class="btn btn-white btn-xs">
                          <i class="fa fa-cog mt-1 ml-2 mr-2" style="font-size:20px;color:#3f51b5;"></i>
                        </button> -->
                        <server-delete [server]="server"></server-delete>

                      </div>
                     
                    </td>

                  </tr>


                  <tr *ngIf='server.status == "ok"' class="table-success">
                    <th scope="row">{{i+1}}</th>
                    <td>{{server.name}}</td>
                    <td>{{server.ip}}</td>
                    <th>{{server.status}}</th>
                    <th>{{server.time | date:"MMM dd, yyyy HH:mm"}}</th>
                    <td>
                      <div class="btn-group btn-group-sm" role="group" aria-label="">
                        <!-- <button type="button" class="btn btn-white btn-xs">
                                <i class="fa fa-info-circle mt-1 ml-2 mr-2" style="font-size:20px;color:#3f51b5;"></i>
                              </button> -->
                        <server-checks [server]="server" [checks]="checks"></server-checks>
                        <!-- <button type="button" class="btn btn-white btn-xs">
                          <i class="fa fa-cog mt-1 ml-2 mr-2" style="font-size:20px;color:#3f51b5;"></i>
                        </button> -->
                        <server-delete [server]="server"></server-delete>
                      </div>
                    </td>
                  </tr>
                  <tr *ngIf='server.status == "unknown"' class="table-active">
                    <th scope="row">{{i+1}}</th>
                    <td>{{server.name}}</td>
                    <td>{{server.ip}}</td>
                    <th>{{server.status}}</th>
                    <th>{{server.time | date:"MMM dd, yyyy HH:mm"}}</th>
                    <td>
                      <div class="btn-group btn-group-sm" role="group" aria-label="">
                        <!-- <button type="button" class="btn btn-white btn-xs">
                                <i class="fa fa-info-circle mt-1 ml-2 mr-2" style="font-size:20px;color:#3f51b5;"></i>
                              </button> -->
                        <server-checks [server]="server" [checks]="checks"></server-checks>
                        <!-- <button type="button" class="btn btn-white btn-xs">
                          <i class="fa fa-cog mt-1 ml-2 mr-2" style="font-size:20px;color:#3f51b5;"></i>
                        </button> -->
                        <server-delete [server]="server"></server-delete>
                      </div>
                    </td>
                  </tr>
                  <tr *ngIf='server.status == "warning"' class="table-warning">
                    <th scope="row">{{i+1}}</th>
                    <td>{{server.name}}</td>
                    <td>{{server.ip}}</td>
                    <th>{{server.status}}</th>
                    <th>{{server.time | date:"MMM dd, yyyy HH:mm"}}</th>
                    <td>
                      <div class="btn-group btn-group-sm" role="group" aria-label="">
                        <!-- <button type="button" class="btn btn-white btn-xs">
                                <i class="fa fa-info-circle mt-1 ml-2 mr-2" style="font-size:20px;color:#3f51b5;"></i>
                              </button> -->
                        <server-checks [server]="server" [checks]="checks"></server-checks>
                        <!-- <button type="button" class="btn btn-white btn-xs">
                          <i class="fa fa-cog mt-1 ml-2 mr-2" style="font-size:20px;color:#3f51b5;"></i>
                        </button> -->
                        <server-delete [server]="server"></server-delete>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <!--Table body-->
              </table>

            </div>


          </div>
          <!-- <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </div> -->
        </div>
      </div>


    </div>

  </div>
</div>
