
<mdb-navbar SideClass="navbar animated slideInDown fixed-top navbar-expand-lg navbar-dark mdb-color darken-2 scrolling-navbar ie-nav" [containerInside]="false">
  <logo>
    <a class="logo navbar-brand animated slideInLeft" href="#">
      <!-- <img src="../assets/Untropy_logo_small.png" width="27px"/> -->
      <strong>Untropy</strong>
    </a>
  </logo>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item waves-light" [routerLinkActive]="['active']" mdbWavesEffect>
        <a class="nav-link" routerLink="/dashboard" ><i class="fa fa-tachometer prefix"></i> Dashboard
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item waves-light" [routerLinkActive]="['active']" mdbWavesEffect>
        <a class="nav-link" routerLink="/servers" >Servers</a>
      </li>
      <li class="nav-item waves-light" [routerLinkActive]="['active']" mdbWavesEffect>
            <a class="nav-link" routerLink="/checks" >Checks</a>
    </li>
      <!-- <li class="nav-item waves-light" [routerLinkActive]="['active']" mdbWavesEffect>
        <a class="nav-link" routerLink="/admin" >Admin</a>
      </li> -->
    </ul>
    <ul class="navbar-nav nav-flex-icons">
      <!-- <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><i class="fa fa-instagram"></i></a>
          </li> -->
    </ul>
  </links>
</mdb-navbar>



<!-- Main -->
<main style="height: fit-content;">
  <router-outlet></router-outlet>
</main>
<!-- /.Main -->
<br><br>

  <!--Footer-->
  <footer class=" footer  animated slideInUp mdb-color darken-2  pt-2 pb-2 mt-4 mt-auto font-small sticky-footer page-footer force-to-bottom" style="position:fixed; width: 100%">

      <!--Footer Links-->

      <!--/.Footer Links-->
  
      <!--Copyright-->
      <div class="">
          <div class="container-fluid">
              © 2018 Copyright Untropy
          </div>
      </div>
      <!--/.Copyright-->
  </footer>
  <!--/.Footer-->
  <!-- <div *ngFor="let server of servers">
      {{ server | json }}
  </div>

  <div *ngFor="let check of checks">
      {{ check | json }}
  </div> -->

  
                    