<div class="main-wraper">
    <div class="container " style="height:1000px;">

      <div class="row mt-5 pt-5 float-left">

        <div class="col">
            <div class="card">

              
                <!--Card image-->
                
            
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Servers Status</h4>
                    <!--Text-->
                    <p class="card-text">Quick view health status</p>
                    
                    <!-- <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"> -->
                    <servers-status></servers-status>
                    
                    
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </div>
            </div>

            <br>
        </div>

        <div class="col">
            <div class="card">

                <!--Card image-->
                
            
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Health Status</h4>
                    <!--Text-->
                    <p class="card-text">Quick view health status</p>
                    <!-- <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"> -->
                    <chart-health-component></chart-health-component>
                    
                    <!-- <a href="#" class="btn btn-indigo waves-light" mdbWavesEffect>Details</a> -->

                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </div>
            
            </div>
        </div>


      </div>

    </div>
  </div>