







<div class="main-wraper" style="height:1100px;">
        <div class="container" style="height:fit-content;">
                <div class="row mt-5 pt-5 float-left" style="width: inherit ;height: fit-content; ">
                <div class="col" style="width: inherit; height: fit-content;">
                <div class="card" style="width: inherit; height: fit-content;">
                <button (click)="socialSignIn('facebook')">Sign in with Facebook</button>
                
                
            </div>
        </div>
        </div>
        </div>
        </div>  
       
        
        
        

