<div class="col" style="width: inherit; height: fit-content;">
        <div class="card" style="width: inherit; height: fit-content;">
        <h1>Query B</h1>
        <form>
            <div class="form-group">
                <label for="name">Name</label>
              </div>
      
              <div class="form-group">
                  <label for="numofok">up to X ok</label>
            
                </div>

                <div class="form-group">
                        <label for="numofwarn">up to X warnings</label>
                    
                </div>

                <div class="form-group">
                        <label for="numofcrit">up to X critical</label>
        
                </div>
         
          <button type="submit" class="btn btn-success">Submit</button>
              </form>
    </div>
    