
<div class="main-wraper" style="height:1100px;">
        <div class="container" style="height:fit-content;">
                <div class="row mt-5 pt-5 float-left" style="width: inherit ;height: fit-content; ">
                <button (click)="socialSignIn('facebook')">Sign in with Facebook</button>
        </div>
<div>
<a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?text=I%20Love%20Untropy"
  data-size="default" target="_blank" aria-label="">
Tweet
</a>
</div>

<div>
<a class="twitter-follow-button"
  href="https://twitter.com/Vietnam_news9"
  data-size="large"
  data-size="default" target="_blank" aria-label="">
Follow @Untropy</a>
</div>
             <video width="620" height="540" controls>
                <source src="./assets/untropy.mp4" type="video/mp4">
              Your browser does not support the video tag.
              </video>
        
              <canvas #canvasEl width=400 height=400></canvas>  

</div>
</div>
       
        

       
        
        
        

